ClassLibrary1.csproj.nuget.dgspec.json
OrderFulfilment/OrderFulfilment/bin/
OrderFulfilment/OrderFulfilment/obj/
OrderFulfilment/OrderFulfilment.Tests/obj/
OrderFulfilment/OrderFulfilment.Tests/bin/
OrderFulfilment/ClassLibrary1/obj/
OrderFulfilment/ClassLibrary1/bin/
OrderFulfilment/.vs/