<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/475681f1-0a5e-44b6-908b-b04b04312ddf/resourceGroups/Wx.Challenge/providers/Microsoft.Web/sites/WXOrderFulfilment</ResourceId>
    <ResourceGroup>Wx.Challenge</ResourceGroup>
    <ApiResourceId>/subscriptions/475681f1-0a5e-44b6-908b-b04b04312ddf/resourceGroups/WebAPIResourceGroup/providers/Microsoft.ApiManagement/service/WXResourceName/apis/wxorderfulfilment</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wxorderfulfilment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>436e53c6-b15a-4242-9218-c7391ce50a7c</ProjectGuid>
    <MSDeployServiceURL>wxorderfulfilment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WXOrderFulfilment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WXOrderFulfilment</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>